#box{
	height:90px;
	width: 100%;
	background-color:#324AA8;
	float:left;

}
#size{
	float:left;
	font-size:35px;
	color: white;
	padding:0px 10px;
}
#size:hover{
	background-color: blue;
	color: gray;
	text-shadow:2px 2px 5px;
}
ul{
	float:right;
	margin-top: 20px;
	list-style: none;
}
ul li{
	float: left;
}
ul li a{
	background-color:green;
	color:white;
	text-decoration: none;
	margin: 20px 5px;
	border-radius: 3px;
	font-weight: bold;
	padding:5px 5px ;
	float: left;
}
ul li a:hover{
	background-color:whire;
	color:black;
	float: left;
}
#box1{
	height:500px;
	width: 100%;
	background-color: #F6F5FA;
}
.table{
	float: left;
	margin: 5px 20px;
}
.color{
	color: white;
	font-weight: bold;
	float: left;
}
#login{
	float: left;
	border-radius: 5px;
}
#box2{
	height: 535px;
	width: 50%;
	background-color: #F6F5FA;
	float: left;
	background-image:url(class.jpg);
	background-repeat: no-repeat;
	background-size: 450px 300px;
	background-position: 0px 225px;
om sai ram ki jay
}
#box3{
	height: 535px;
	width: 50%;
	background-color: #F6F5FA;
	float:right;
}
.size{
	height: 25px;
	width: 250px;
 border-radius: 5px;
 font-size: 20px;
}
#td{font-size: 20px;

}
#p{
	color: blue;
	font-size: 12px;
	padding:5px 60px;
}
#submit{
	background-color: green;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px;
width: 200px;
height: 35px;
}
#submit:hover{
	background-color: white;
	color: black;
}
#colora{
	color: #434386;
}
.h{
	float: left;
}
