.header-bg{
	background-color: #C27ACE;

}
.slider-bg{
	background-image: url("../image/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 300px;
}
.center-nav li a{
	font-size: 20px !important;
	color: #000;
}
.center-nav .slash{
	font-size: 20px !important;
	padding-top: 10px;
}
.view-box{
	background-color: rgba(65, 65, 65, 0);
	/*opacity: 0;*/
	padding: 10px;
	text-align: center;
	font-size: 20px;
	position: absolute;
	width: 100%;
	/*display: none;*/
	color: transparent;
	font-weight: bold;
}
.product:hover .view-box{
	color: #FFF;
	background-color: rgba(65, 65, 65, .8);
	display: block;
	transition: 1s;
}
.my-dark{
	background-color: #282828;
}
.navbar .nav-link:hover{
	background-color: #000;
}
.nav-link-active{
	background-color: #000 !important;

}


