<!DOCTYPE html>
<html>
<head>
	<title>Krishna Marketting</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=devices-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/style1.css" />


	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.bundle.js"></script>
</head>
<body class="bg-light">
	<div class="container-fluid">
			<ul class="nav justify-content-end">
			<li class="nav-item">	<a class="nav-link" href="#">Login</a>	</li>
			<li class="nav-item">	<a class="nav-link" href="#">Logup</a>	</li>
		</ul>
		<nav class="navbar bg-warning navbar-expand-sm navbar-light text-capitalize sticky-top">
			<!-- <div class="col-6 col-sm-6 col-md-6"> -->
				<a class="navbar-brand text-success" href="#">Krishna Marketing</a>
		<!-- 	</div> -->
			<button class="navbar-toggler" data-toggle="collapse" data-target="#menu"><span class="navbar-toggler-icon"></span></button>
		<!-- 	<div class="col-6 col-sm-6 col-md-6 "> -->
				<div class="collapse navbar-collapse justify-content-end" id="menu">
					<ul class="navbar-nav">
						<li class="nav-item">	<a href="#" class="nav-link">Home</a></li>
						<li class="nav-item">	<a href="#" class="nav-link">About</a></li>
						<li class="nav-item">	<a href="#" class="nav-link">Men</a></li>
						<li class="nav-item">	<a href="#" class="nav-link">women</a></li>
						<li class="nav-item">	<a href="#" class="nav-link">kids</a></li>
						
						<li class="nav-item dropdown">	
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More</a>
								<div class="dropdown-menu ">
									<a href="#" class="dropdown-item">Jewllary</a>
									<a href="#" class="dropdown-item">shoes</a>
									<a href="#" class="dropdown-item">bags</a>
									<a href="#" class="dropdown-item">other</a>
								</div>
						</li>
						<li class="nav-item">	<a href="#" class="nav-link">cart<span class="px-2 badge badge-danger">4</span></a></li>
					</ul>
				</div>

	</nav> <!-- navbar close -->
	<div class="jumbotron jumbotron_bg mb-0 p-0">
		<div class="jumbotron_cover my-auto p-5">
			<div class="box" id="box">
					<h1 class="text-center text-capitalize"> Krishna Marketing</h1>
			</div>
		</div>
	</div>
 <!-- List catagary start -->
	<div class="row">
		<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-capitalize">
					<ul class="list-group"> 
							<li class="list-group-item"> Men</li>
							<li class="list-group-item"> women</li>
							<li class="list-group-item"> kids</li>
							<li class="list-group-item"> girls</li>
							<li class="list-group-item"> boys</li>
					</ul>
		</div>
		<div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
			<div class="row">
						<div class="col-4">
							<div class="card">
								<div class="card-header">
									<img class="card-img-top" src="image/s1.jpg" alt="Card image cap">
								</div>
								<div class="card-body"> <h3>Fashionable Saree</h3>
									<b><del>MRP:1000abc
									</del></b><br /> <b>Offer Price:200</b>
								</div>
								<div class="card-footer">
									<div class="float-left">
										<button class="btn btn-warning">Add to cart</button>
									</div>	
									<div class="float-right">
										<button class="btn btn-warning">Buy</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="card">
								<div class="card-header">
									<img class="card-img-top" src="image/s1.jpg" alt="Card image cap">
								</div>
								<div class="card-body"> <h3>Fashionable Saree</h3>
									<b><del>MRP:1000</del></b><br /> <b>Offer Price:200</b>
								</div>
								<div class="card-footer">
									<div class="float-left">
										<button class="btn btn-warning">Add to cart</button>
									</div>	
									<div class="float-right">
										<button class="btn btn-warning">Buy</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="card">
								<div class="card-header">
									<img class="card-img-top" src="image/s1.jpg" alt="Card image cap">
								</div>
								<div class="card-body"> <h3>Fashionable Saree</h3>
									<b><del>MRP:1000</del></b><br /> <b>Offer Price:200</b>
								</div>
								<div class="card-footer">
									<div class="float-left">
										<button class="btn btn-warning">Add to cart</button>
									</div>	
									<div class="float-right">
										<button class="btn btn-warning">Buy</button>
									</div>
								</div>
							</div>
						</div>
						
				

			</div>
			<div class="row">
						<div class="col-4">
							<div class="card">
								<div class="card-header">
									<img class="card-img-top"  src="image/s1.jpg" alt="Card image cap">
								</div>
								<div class="card-body"> <h3>Fashionable Saree</h3>
									<b><del>MRP:1000</del></b><br /> <b>Offer Price:200</b>
								</div>
								<div class="card-footer">
									<div class="float-left">
										<button class="btn btn-warning">Add to cart</button>
									</div>	
									<div class="float-right">
										<button class="btn btn-warning">Buy</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="card">
								<div class="card-header">
									<img class="card-img-top" src="image/k1.jpg" alt="Card image cap">
								</div>
								<div class="card-body"> <h3>Fashionable Saree</h3>
									<b><del>MRP:1000</del></b><br /> <b>Offer Price:200</b>
								</div>
								<div class="card-footer">
									<div class="float-left">
										<button class="btn btn-warning">Add to cart</button>
									</div>	
									<div class="float-right">
										<button class="btn btn-warning">Buy</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4">
							<div class="card">
								<div class="card-header">
									<img class="card-img-top"  src="image/s1.jpg" alt="Card image cap">
								</div>
								<div class="card-body"> <h3>Fashionable Kids</h3>
									<b><del>MRP:1000</del></b><br /> <b>Offer Price:200</b>
								</div>
								<div class="card-footer">
									<div class="float-left">
										<button class="btn btn-warning">Add to cart</button>
									</div>	
									<div class="float-right">
										<button class="btn btn-warning">Buy</button>
									</div>
								</div>
							</div>
						</div>
						
				

			</div>
		</div>
<!--  List catagary end -->

<div class="" style="height:700px; background-color: red;">
</div>
</div><!-- container close -->
</body>
</html>